<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}


body{
    color: aquamarine;
    background-color: black;
}

p{
    color: rgba(255, 255, 0, 0.934);
}

h1{

}

#segundoparrafo{
    color: blueviolet;
}

li.elemento_lista{
    color: brown;
}

footer p{
    color: orange;
}

footer > div > h3{
    color: green
}

=======
* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  color: rgb(52, 52, 187);
  background-color: black;
}

p {
  color: orange;
}

h1 {
  color: green;
}

#segundo_parrafo {
  color: red;
}

li.rosa {
  color: pink;
}

footer > p {
  color: green;
}

footer h3 {
  color: yellow;
}
>>>>>>> 152f2752c5fd39290ec881f3bc296569ece7da03
