@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --bg-color: #f7f7f7;
  --accent-color: #4aac61;
  --base-color: #000000;
  --spacing: 20px;
}

body {
  font-family: "Archivo", sans-serif;
  background-color: var(--bg-color); 
  color: var(--text-color);  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo Black", sans-serif;
  color: var(--accent-color);
}

h2 {
  margin-bottom: var(--spacing);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

a:hover {
  color: var(--accent-color);
}

header {
  padding: var(--spacing);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > nav > ul {
  display: flex;
  gap: var(--spacing);

}

section{
  padding: var(--spacing);
}

section#map > iframe{
  width: 100%;
  height: 450px;
  border: none;
  border-radius: var(--border-radius);
}